*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  max-width: 480px;
}

.topnav {
  overflow: hidden;
  background-color:#212529;
  position: fixed;
  width: 100%;
  max-width: 480px;
  margin:0 auto;
  z-index: 1;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #9b9d9e;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a.icon {
  background:#212529;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #9b9d9e;
  border-radius: 8px;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.topnav a:hover {
  background-color:#181b1e;
}
#myLinks a:hover{
  color:#ffc803;

}
.active {
  background-color: #04AA6D;
  color: white;
}
.spacefortopnav{
  max-width: 480px;
  height: 70px;
}
  .headerH{
    background-image:url(header-bg.jpg) ;
    height: 510px;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 200% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;

  }
  .headerH-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .headerH h3{
    font-size:26px;
    color: white;
    transform: skewX(-15deg);
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .headerH h1{
    color: white;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
    
  }
  .headerH-button{
    background-color:#ffc803 ;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    padding: 25px 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  button:hover{
    background-color: #a58306;
    cursor: pointer;
  }
  .services{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 20px;
    margin-bottom: 30px;
  }
  .servicehead{
    text-align: center;
  }
  .services h1{
    font-size: 50px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 35px;
  }
  .services h2{
    font-size:26px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .firstservice,
  .secondservice,
  .thirdservice{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .firstp{
    font-size: 26px;
    margin-top: 0;
    color:rgb(80, 79, 79);
    opacity: 0.9;
    transform: skewX(-15deg);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 70px;
  }
  .logoborder{
    background-color: #ffc803;
    color: white;
    border-radius: 50%;
    padding: 35px 30px;
    font-size: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    max-width: 120px;
  }
  .logoborderlock{
    background-color: #ffc803;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 76px;
    padding: 40px 45px;
    margin-bottom: 15px;
    max-width: 120px;
  }
  .services p{
    text-align: center;
    display: inline-block;
    color: rgb(80, 79, 79);
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .portfolio{
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
    padding-left:50px;
    padding-right:50px;
  }
  .portfolio h1{
    font-size: 50px;
    text-transform:uppercase;
    padding-top: 110px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .portfolio p{
    font-size: 22px;
    margin-top: 0;
    color:rgb(80, 79, 79);
    opacity: 0.9;
    transform: skewX(-15deg);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 70px;
  }
  .imagecontainer{
    background-color:white;
    height: 440px;
    margin-bottom: 30px;
    flex-basis: calc(33.33%-20px);
    box-sizing: border-box;
  }
  .image-with-text{
    background-image:url(./portfolio/watch.jpg);
    height: 315px;
    width: 420px;
    background-size: 100%;
    box-sizing: border-box;
    object-fit: contain;

    position: relative;
    background-repeat: no-repeat;
  }
  .imagecontainer h2{
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
    font-size: 28px;
  }
  .imagecontainer p{
    text-align: center;
  }
  .image-with-text:hover .overlay{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255,200,3,0.9);
  }
  .overlay{
    opacity: 0;
    color: white;
    background-color: #ffc803;
    height: 315px;
    width: 420px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  }
.image-with-text2{
    background-image:url(./portfolio/2.jpg);
    height: 315px;
    width:420px;
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
    object-fit: contain;
}
.image-with-text2:hover .overlay{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255,200,3,0.9);
}
.image-with-text3{
    background-image:url(./portfolio/3.jpg);
    height: 315px;
    width:420px;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    object-fit: contain;
}
.image-with-text3:hover .overlay{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255,200,3,0.9);
}
.image-with-text4{
    background-image:url(./portfolio/4.jpg);
    height: 315px;
    width:420px;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    object-fit: contain;
}
.image-with-text4:hover .overlay{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255,200,3,0.9);
}
.image-with-text5{
    background-image:url(./portfolio/5.jpg);
    height: 315px;
    width:420px;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    object-fit: contain;
}
.image-with-text5:hover .overlay{
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255,200,3,0.9);
}
.image-with-text6{
    background-image:url(./portfolio/6.jpg);
    height: 315px;
    width:420px;
    background-size: 100%;
    position: relative;
    box-sizing: border-box;
    object-fit: contain;
}
.image-with-text6:hover .overlay{
    opacity: 1;
    background-color: rgba(255, 200, 3, 0.9);
    cursor: pointer;
}
.about{
    background-color: rgb(255, 255, 255);
    padding-top:120px ;
}
.about-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.about h1{
    font-size:50px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-text p{
    font-size: 22px;
    margin-top: 0;
    color:rgb(80, 79, 79);
    opacity: 0.9;
    transform: skewX(-15deg);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 70px;
}
.circleimage{
    background-image:url(./about/1.jpg) ;
    border-radius: 50%;
    width: 80px;
    height:80px;
    background-size: 100%;
    border: 8px solid #e9ebeb; 
    transform: translateX(20px);
}
.vertical-line{
  height: 290px;
  width: 2px;
  background-color: #e9ebeb;
  transform:translateX(65px);
}
.circleimage2{
  background-image:url(./about/2.jpg) ;
  border-radius: 50%;
  width: 80px;
  height:80px;
  background-size: 100%;
  border: 8px solid #e9ebeb; 
  transform: translateX(20px);
}
.circleimage3{
  background-image:url(./about/3.jpg) ;
  border-radius: 50%;
  width: 80px;
  height:80px;
  background-size: 100%;
  border: 8px solid #e9ebeb; 
  transform: translateX(20px);
}
.circleimage4{
  background-image:url(./about/4.jpg) ;
  border-radius: 50%;
  width: 80px;
  height:80px;
  background-size: 100%;
  border: 8px solid #e9ebeb; 
  transform: translateX(20px);
}
.circleimage5{
  border-radius: 50%;
  width: 80px;
  height:80px;
  background-size: 100%;
  border: 8px solid #e9ebeb; 
  transform: translateX(20px);
  background-color: #ffc803;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.circleimage5 p{
  width: 80%;
  text-align: center;
}
.central{
  display:flex;
  justify-content: space-around;
  
}
.text-left{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top: 10px;
}
.text-left p{
  font-size: 22px;
  margin-top: 0;
  color:rgb(80, 79, 79);
  opacity: 0.9;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 50px;
  margin-top: 10px;
  line-height: 1.5;
}
.text-left h2{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.team{
  background-color:#d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  margin-bottom: 70px;
}
.ptext p{
  font-size: 22px;
  margin-top: 0;
  color:rgb(80, 79, 79);
  opacity: 0.9;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 70px;
  transform: skewX(-15deg);
  text-align: center;
}
.ptext h1{
  font-size: 50px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.team{
  background-color: #f8f9fa;
}
.team-members-container p{
  font-size: 22px;
  margin-top: 0;
  color:rgb(88, 88, 88);
  opacity: 0.9;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 40px;
}
.team h3{
  font-size:30px;
  margin-bottom: 5px;
  font-family:'Times New Roman', Times, serif
}
.team-members-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-members-container p{
  text-align: center;
  line-height: 1.5;

}
.teammate1{
  background-image:url(./team/1.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: 100%;
  border: 10px solid #dfe0e1;
  margin-bottom: 25px;
}
.teammate2{
  background-image:url(./team/2.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: 100%;
  border: 10px solid #dfe0e1;
  margin-bottom: 25px;
}
.teammate3{
  background-image:url(./team/3.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: 100%;
  border: 10px solid #dfe0e1;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.social-icons{
  margin-bottom: 60px;
  transform: translateX(-20px);
}
.social-icons i{
  background-color: #212529;
  border-radius: 50%;
  color:white;
  padding: 13px;
  font-size: 20px;
  margin-left: 25px;

}
.social-icons i:hover{
  background-color: grey;
}
.brands{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 20px 200px;
  padding-bottom: 35px;
  box-sizing: border-box;
}
.logo{
  margin-top: 30px;
  width: 250px;
  height: 100px;
}
.logo2{
  width: 150px;
  height: 100px;
}

.logo3{
  width: 200px;
  height: 100px;
}
.logo4{
  width: 130px;
  height: 100px;
}
.contactus{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(map-image.png);
  background-position: 50%, 70%;
  background-color: #212529;
  color: white;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  height: 1000px;
  background-size: 340%;
  box-sizing: border-box;
}
.contactus p{
  font-size: 22px;
  margin-top: 0;
  color:#6c757d;
  opacity: 0.9;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 70px;
  transform: skewX(-15deg);
  text-align: center;
}
.contactus h1{
  margin-top: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contactus input{
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 80px;
  margin-bottom: 25px;
  padding-left: 20px;
  width: 430px;
  font-size: 18px;
}
#textarea{
  color:#555;
  border-radius: 5px;
  margin-bottom: 60px;
}
.contactus button{
  background-color:#ffc803 ;
  opacity: 0.7;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    padding: 25px 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactus button:hover{
  cursor: pointer;
  background-color: #a58306;
}
footer{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 25px;
}
.social-icons-footer i{
  background-color: #212529;
  border-radius: 50%;
  color:white;
  padding:13px;
  font-size: 20px;
  margin-left: 15px;
}
.footerpe{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerpe p{
  margin-top:15px;
}
.footerpe a{
  display: flex;
  text-decoration: none;
}
.social-icons-footer i:hover{
  background-color: grey;
}
@media only screen and (min-width:480px){ 

.topnav #mylinks{
  display: flex;
}
.spacefortopnav{
  display: none;
}
*{
  max-width: 1920px;
}
.headerH{
  background-size: 100%;
  height: 620px;
  background-position: 70% 60%;
}
.headerH-button{
  width:190px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding:19px 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
.servicehead{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servicecontent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.firstservice{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.secondservice{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thirdservice{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logoborder{
  padding:30px;
  width:120px;
  max-width:none;
}
.logoborder i{
  font-size: 60px;
}
.logoborderlock{
  padding:30px;
  width:120px;
  max-width: 120px;
}
.logoborderlock i{
  font-size: 60px;
}
.services h1{
  font-size: 36px;
  margin-bottom: 0;
}
.portfoliocontainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.portfolio{
  padding-left:120px;
  padding-right: 120px;
  padding-bottom: 50px;
}
.imagecontainer{
  height: 370px;
}
.image-with-text{
  width: 360px;
  height: 260px;
}
.image-with-text2{
  width: 360px;
  height: 260px;
}
.image-with-text3{
  width: 360px;
  height: 260px;
}
.image-with-text4{
  width: 360px;
  height: 260px;
}
.image-with-text5{
  width: 360px;
  height: 260px;
}
.image-with-text6{
  width: 360px;
  height: 260px;
}
.overlay{
  width: 360px;
  height: 260px;
}
.portfolio h1{
  padding-top: 80px;
  font-size: 36px;
}
.portfolio p{
  margin-bottom:45px
}
.team{
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.teamcontent{
  display: flex;
  flex-direction: row;
  padding:100px 0;
}
.team-members-container{
  width:300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamcontent .team-members-container:nth-child(2){
  margin-right:70px;
  margin-left: 70px;

}
.team-members-container h3{
  font-size: 26px;
  text-align: center;
}
.social-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icons i{
  font-size: 15px;
  margin-left: 0;
}
.social-icons a:nth-child(1) i,
.social-icons a:nth-child(2) i {
  margin-right: 20px;
}
.social-icons a:nth-child(1) i{
  margin-left: 40px;
}

.teammate1{
  width:200px;
  height: 200px;
}
.teammate2{
  width:200px;
  height: 200px;
}
.teammate3{
  width:200px;
  height: 200px;
}
.ptext h1{
  padding-top: 100px;
  font-size: 44px;
}
.ptext p{
  margin-bottom:0;
  font-size: 22px;
}
.team-bottom-text{
  display: flex;
  width: 850px;
  text-align: center;
  padding-bottom: 130px;
  font-size: 20px;
  opacity: 0.7;
}
.brands{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin:20px 100px;
}
.logo{
  width: 200px;
  margin-top: 0;
}
.logo2{
  width: 120px;
}
.logo3{
  width: 160px;
}
.logo4{
  width: 100px;
}
.contactus{
  display: flex;
  flex-direction: column;
  background-size: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 620px;
}
.inputdiv{
  display: flex;
  flex-direction: column;
}
.inputarea textarea{
  margin-left: 20px;
}
#textarea{
  width: 550px;
}
.inputarea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 0;
}
.inputarea input{
  height: 53px;
  width: 550px;
}
.contactus h1{
  font-size: 34px;
  padding:0;
  padding-bottom: 15px;
  margin:0;
}
.contactus p{
  font-size: 18px;
  margin-bottom: 50px;
}
.contactus button{
  font-size: 18px;
  padding:20 ,5;
  margin-top: 0;
}
footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  height: 80px;
}
.copyright{
  margin-left: 100px;
  margin-right: 25px;
}
.footerpe p:nth-child(2){
  margin-left: 90px;
}
.footerpe p:nth-child(1){
  margin-right:0px;}
.footerpe{
  margin-right:90px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}
.footerpe a{
  color: black;
}

}
